.flash_deal{
    .swiper{
        .swiper-slide{
            .item{
                box-shadow: 0 0 5px #b0b0b0;
                border-radius: 5px;
                margin: 7px;
                transition: var(--transition);
                &:hover{
                    box-shadow: 0 0 5px #4a4a4a;
                }
                .item_img{
                    height: 355px;
                    border-radius: 5px 5px 0 0;
                    .item_over{
                        top: auto;
                        bottom: 10px;
                        left: 10px;
                        background-color: transparent;
                    }
                    ul{
                        @include flex(center, start, 5px);
                        li{
                            background-color: #ffffffdd;
                            text-align: center;
                            padding: 5px 10px;
                            border-radius: 5px;
                            font-size: 12px;
                        }
                    }
                }
                .item_body{
                    padding: 15px;
                    h3{
                        @include line(1);
                    }
                }
                .item_footer{
                    padding: 15px;
                    @include flex(center, space-between, 10px);
                    button{
                        text-transform: uppercase;
                    }
                    div{
                        text-transform: uppercase;
                        text-align: center;
                        del{
                            font-size: 14px;
                        }
                        h3{
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .flash_deal{
        .swiper{
            .swiper-slide{
                .item{
                    .item_img{
                        height: 280px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .flash_deal{
        .swiper{
            .swiper-slide{
                .item{
                    .item_img{
                        height: 300px;
                    }
                }
            }
        }
    }
}