.frequently{
    .swiper{
        .swiper-slide{
            .item{
                .item_img{
                    height: 235px;
                    .item_over{
                        top: 30px;
                        bottom: auto;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
