.swiper{
  .swiper-slide{
    .item{
      cursor: pointer;
      &:hover{
        img{
          transform: scale(1.1);
        }
      }
      .item_img{
        position: relative;
        height: 245px;
        border-radius: 5px;
        overflow: hidden;
        img{
          height: 100%;
          transition: var(--transition);
        }
        .item_over{
          position: absolute;
          width: 100%;
          bottom: 20px;
          padding: 7px 0;
          background-color: #80808080;
          text-transform: capitalize;
          h2,h3{
            text-align: center;
            color: var(--body-color);
          }
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--primary-color);
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    &::after{
      font-size: 20px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 576px) {
    .swiper{
      .swiper-slide{
          padding: 0 40px;
      }
    }
  }
@media screen and (max-width: 425px) {
    .swiper{
        .swiper-slide{
            padding: 0 0;
        }
    }
}